.wrap {
    position: relative;
    overflow: hidden;
    
}

.box_gallery {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #d0d1d5;
    border-bottom: 2px solid #d0d1d5;
}

.boxInner img {
    width: 100%;
}

.imgCat {
    float: left;
    width: 100%;
    height: 72%;
    background-color: #3498db;
    box-shadow: 0 2px 2px -2px gray;
}

.boxInner .titleBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.allphotos {
    background-color: #3498db;
}

.allphotos_header { 
    float: left;
    color: #fff;
    font-size: 1.7em;
    font-weight: 400;
    margin-left: 8%;
    margin-top: 40%;
}

.allphotos_photo {
    float: left;
    font-size: 0.6em;
    font-weight: 300;
    color: #C9DDFF;
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}

.titleCat { 
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 8%;
    margin-top: 5%;
}

.titlePhoto {
    float: left;
    font-size: 0.6em;
    font-weight: 300;
    color: #bbb;
}

.arrow {
    float: right;
    font-size: 2.5em;
    color: #3498db !important;
    margin-right: 8%;
    margin-top: 3%;
}

@media only screen and (max-width : 480px) {
    .box_gallery {
        width: 100%;
        padding-bottom: 100%;
    }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
    .box_gallery {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
    .box_gallery {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    .box_gallery {
        width: 25%;
        padding-bottom: 25%;
    }
}
