header.navigation {
	position: fixed;
	width: 100%;
	padding: 0em;
	margin: 0em;
	z-index: 9999;
}

#hd_nav {
	position: relative;
	background-color: #3498db !important;
	border-top: 3px solid #486bbd;
	height: 2.2em;	
	margin-top: 0em;
	
}

#hd_container {
	position: relative;
	width: 95%;
	margin: 0em auto;
}

#menu {
	position: relative;
	margin: 0.7em;
	float: left;
	width: 26em;
	color: #fff;
	font-size: 0.8em;
	font-weight: 700;
}

#menu ul {
	list-style: none;
	padding: 0em;
	margin: 0em;
}

#menu li {
	display: inline;
	padding-left: 1.8em;
	
}


#menu a {
	color: #c9ddff;
}

#menu a:hover {
	text-decoration: none;	
	color: #fff;
}

#menu a:visited {
	color: #c9ddff;
}
/* ---------------------------------- */

#menu_mobile {
	position: relative;
	margin: 0em;
    top: 3px;
	float: left;
	width: 12em;
	color: #fff;
	font-size: 1.3em;
	font-weight: 700;
}

#menu_mobile ul {
	list-style: none;
	padding: 0em;
	margin: 0em;
}

#menu_mobile li {
	display: inline;
	padding-left: 1.6em;
	
}


#menu_mobile a {
	color: #c9ddff;
}

#menu_mobile a:hover {
	text-decoration: none;	
	color: #fff;
}

#menu_mobile a:visited {
	color: #c9ddff;
}
/* ---------------------------------- */

#menu_right {
	position: relative;
	float: right !important;
	width: 6.8em;
	top: 3px;
	margin: 0em;
	font-size: 1.3em;
	color: #fff;
}

#menu_right ul {
	list-style: none;
	padding: 0em;
	margin: 0em;
}

#menu_right li {
	display: inline;
	padding: 0.15em 0.5em 0.8em 0.5em;
	border-right: 1px solid #64b5eb;
	
}
#menu_right li.first {
	display: inline;
	padding: 0.15em 0.5em 0.8em 0.5em;
	border-right: 1px solid #64b5eb;
	border-left: 1px solid #64b5eb;
	
}

#menu_right li:hover {
	background-color: #0af;
}

#mnu_right_mobile {
    position: relative;
    float: right !important;
    top: 3px;
    margin: 0em;
    font-size: 1.3em;
    color: #fff;
    margin-right: 0.5em;
    border-left: 1px solid #64b5eb;
    padding-left: 1.0em;
}

#hd_subnav {
	position: relative;
	background-color: #394045 !important;
	border-bottom: 1px solid #000;
	width: 100%;
	height: 2.2em;
}

/* icons */
#logo {
	float: left;
	color: #fff;
	font-size: 1.8em; /* 29px / 16px */
	margin-top: 0.12em;
}

#bar {
	float: left;
	color: #bbb;
	font-size: 1.8em; /* 29px / 16px */
	margin-top: 0.12em;
}

#bar:hover {
	color: #fff;
}

#subsection {
	float: left;
	color: #bbb;
	font-size: 1.5em; /* 24px / 16px */
	padding-left: 1.5em;
	margin-top: 0.12em;
}


a.right_icon {
    color: #fff;
    text-decoration: none;
}

a.right_icon:hover {
    color: #c9ddff;
    text-decoration: none;
}