.menu {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.menu-open {
    left: 14.0em;
}

.menu-open .menu-side {
    left: 0;
}

.menu-side,
.menu {
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    transition: left 0.2s ease;
}

.menu-side {
    position: fixed;
    top: 0em;
    left: -14.0em;
    width: 13.5em; /* 208px / 16px */
    height: 100%;
    padding: 0.5em; /* 8px / 16px */
    padding-left: 0.0em;
    background-color: #394045;
    color: #bbb;  
    box-shadow: -8px 0px 8px   #2e2e2e inset;
}

.menu-side  ul {
	list-style: none;
    padding-left: 0em;
}

.menu-side li {
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    border-bottom: 1px solid #585858;
}

.menu-side li h1 {
    color: #fff !important;
    font-size: 1.0em;
}

.menu-side li span {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.menu-side a {
    text-decoration: none;
    color: #bbb;
}

.menu-side a:hover {
    color: #3498db !important;
}
